<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mapbici</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">paraque</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		<mapping class="com.roger.model.Usuarios"/>
		<mapping class="com.roger.model.Paginas"/>
		<mapping class="com.roger.model.Perfiles"/>
		<mapping class="com.roger.model.Mapas"/>
	</session-factory>
</hibernate-configuration>